
</div>
</div>
<hr/>
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>PM meter by <a href="http://www.sherazlodhi.com">Sheraz Lodhi</a> · Privacy</a> · <a href="#">Terms</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- Icons -->

<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>
  feather.replace();

</script>
<script src="/bundle.js"></script>

</body>
</html>
